<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="css/business-casual.css" rel="stylesheet">

<div class="col-lg-12 text-center">
  <h1 class="brand-name">Categories</h1>
  <div class="panel panel-default" ng-repeat="item in found">
    <div class="panel-heading body">
      {{item.name}}
      <button class="btn btn-primary btn-xs" ng-click="$ctrol.removeItem($index);">See items</button>
    </div>
    <div class="panel-body h6">{{item.special_instructions}}</div>
  </div>
</div>
